<h3>Table prep</h3>

In [1]:
import pandas as pd
import sqlite3
import numpy as np

db = sqlite3.connect('E:/GitHub Repos/TensorFlow training/SoccerDataset/database.sqlite')
df_train = {}

In [2]:
player_df = pd.read_sql_query('SELECT * FROM player', db)
df_train['player'] = player_df.sample(n=100)
df_train['player'].head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
6359,6367,11801,Luis Olim,20543,1981-08-27 00:00:00,177.80,152
4587,4591,28901,James McArthur,171972,1987-10-07 00:00:00,177.80,141
8726,8740,19232,Rafael Miranda,165586,1984-08-11 00:00:00,177.80,165
11001,11017,473857,Zana Allee,192769,1994-03-01 00:00:00,165.10,139
2900,2904,46359,Eggert Jonsson,172398,1988-08-18 00:00:00,187.96,159

In [3]:
player_attr_df = pd.read_sql_query('SELECT * FROM player_attributes', db)

In [4]:
boolean_series = player_attr_df.player_api_id.isin(df_train['player'].player_api_id)
df_train['player_attributes'] = player_attr_df[boolean_series]
df_train['player_attributes'].head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
5023,5024,186961,109121,2016-03-10 00:00:00,77.0,79.0,right,medium,medium,52.0,...,59.0,79.0,12.0,16.0,16.0,15.0,15.0,10.0,13.0,5.0
5024,5025,186961,109121,2016-02-04 00:00:00,77.0,79.0,right,medium,medium,52.0,...,59.0,79.0,12.0,16.0,16.0,15.0,15.0,10.0,13.0,5.0
5025,5026,186961,109121,2016-01-21 00:00:00,77.0,79.0,right,medium,medium,52.0,...,59.0,79.0,12.0,16.0,16.0,15.0,15.0,10.0,13.0,5.0
5026,5027,186961,109121,2016-01-07 00:00:00,77.0,80.0,right,medium,medium,52.0,...,59.0,79.0,12.0,16.0,16.0,15.0,15.0,10.0,13.0,5.0
5027,5028,186961,109121,2015-10-02 00:00:00,77.0,81.0,right,medium,medium,52.0,...,59.0,79.0,12.0,16.0,16.0,15.0,15.0,10.0,13.0,5.0

In [5]:
for k, v in df_train.items():
    df_train[k] = df_train[k].replace([np.inf, -np.inf], np.nan)
    df_train[k] = df_train[k].dropna()

In [6]:
df_train['player'][df_train['player'].isna().any(axis=1)]

Empty DataFrame
Columns: [id, player_api_id, player_name, player_fifa_api_id, birthday, height, weight]
Index: []

In [7]:
df_train['player_attributes'][df_train['player_attributes'].isna().any(axis=1)]

Empty DataFrame
Columns: [id, player_fifa_api_id, player_api_id, date, overall_rating, potential, preferred_foot, attacking_work_rate, defensive_work_rate, crossing, finishing, heading_accuracy, short_passing, volleys, dribbling, curve, free_kick_accuracy, long_passing, ball_control, acceleration, sprint_speed, agility, reactions, balance, shot_power, jumping, stamina, strength, long_shots, aggression, interceptions, positioning, vision, penalties, marking, standing_tackle, sliding_tackle, gk_diving, gk_handling, gk_kicking, gk_positioning, gk_reflexes]
Index: []

[0 rows x 42 columns]

<h3>Starting SDV</h3>

In [8]:
from sdv import Metadata

metadata = Metadata()
metadata

Metadata
  root_path: .
  tables: []
  relationships:

In [9]:
metadata.add_table(
    name='player',
    data=df_train['player'],
    primary_key='player_api_id'
)

In [10]:
metadata.add_table(
    name='player_attributes',
    data=df_train['player_attributes'],
    primary_key='id',
    parent='player',
    foreign_key='player_api_id'
)

In [11]:
metadata.to_dict()

{'tables': {'player': {'fields': {'id': {'type': 'numerical',
     'subtype': 'integer'},
    'player_api_id': {'type': 'id', 'subtype': 'integer'},
    'player_name': {'type': 'categorical'},
    'player_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'birthday': {'type': 'categorical'},
    'height': {'type': 'numerical', 'subtype': 'float'},
    'weight': {'type': 'numerical', 'subtype': 'integer'}},
   'primary_key': 'player_api_id'},
  'player_attributes': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'player_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'player_api_id': {'type': 'id',
     'subtype': 'integer',
     'ref': {'table': 'player', 'field': 'player_api_id'}},
    'date': {'type': 'categorical'},
    'overall_rating': {'type': 'numerical', 'subtype': 'float'},
    'potential': {'type': 'numerical', 'subtype': 'float'},
    'preferred_foot': {'type': 'categorical'},
    'attacking_work_rate': {'type': 'categorical'},
    'defensive_work_rate': {'type': 'categorical'},
    'crossing': {'type': 'numerical', 'subtype': 'float'},
    'finishing': {'type': 'numerical', 'subtype': 'float'},
    'heading_accuracy': {'type': 'numerical', 'subtype': 'float'},
    'short_passing': {'type': 'numerical', 'subtype': 'float'},
    'volleys': {'type': 'numerical', 'subtype': 'float'},
    'dribbling': {'type': 'numerical', 'subtype': 'float'},
    'curve': {'type': 'numerical', 'subtype': 'float'},
    'free_kick_accuracy': {'type': 'numerical', 'subtype': 'float'},
    'long_passing': {'type': 'numerical', 'subtype': 'float'},
    'ball_control': {'type': 'numerical', 'subtype': 'float'},
    'acceleration': {'type': 'numerical', 'subtype': 'float'},
    'sprint_speed': {'type': 'numerical', 'subtype': 'float'},
    'agility': {'type': 'numerical', 'subtype': 'float'},
    'reactions': {'type': 'numerical', 'subtype': 'float'},
    'balance': {'type': 'numerical', 'subtype': 'float'},
    'shot_power': {'type': 'numerical', 'subtype': 'float'},
    'jumping': {'type': 'numerical', 'subtype': 'float'},
    'stamina': {'type': 'numerical', 'subtype': 'float'},
    'strength': {'type': 'numerical', 'subtype': 'float'},
    'long_shots': {'type': 'numerical', 'subtype': 'float'},
    'aggression': {'type': 'numerical', 'subtype': 'float'},
    'interceptions': {'type': 'numerical', 'subtype': 'float'},
    'positioning': {'type': 'numerical', 'subtype': 'float'},
    'vision': {'type': 'numerical', 'subtype': 'float'},
    'penalties': {'type': 'numerical', 'subtype': 'float'},
    'marking': {'type': 'numerical', 'subtype': 'float'},
    'standing_tackle': {'type': 'numerical', 'subtype': 'float'},
    'sliding_tackle': {'type': 'numerical', 'subtype': 'float'},
    'gk_diving': {'type': 'numerical', 'subtype': 'float'},
    'gk_handling': {'type': 'numerical', 'subtype': 'float'},
    'gk_kicking': {'type': 'numerical', 'subtype': 'float'},
    'gk_positioning': {'type': 'numerical', 'subtype': 'float'},
    'gk_reflexes': {'type': 'numerical', 'subtype': 'float'}},
   'primary_key': 'id'}}}

In [147]:
#metadata = {'tables': {'player': {'fields': {'id': {'type': 'numerical', 'subtype': 'integer'}, 'player_api_id': {'type': 'id', 'subtype': 'integer'}, 'player_name': {'type': 'categorical'}, 'player_fifa_api_id': {'type': 'id', 'subtype': 'integer'}, 'birthday': {'type': 'categorical'}, 'height': {'type': 'numerical', 'subtype': 'float'}, 'weight': {'type': 'numerical', 'subtype': 'integer'}}, 'primary_key': 'player_api_id'}, 'player_attributes': {'fields': {'id': {'type': 'id', 'subtype': 'integer'}, 'player_fifa_api_id': {'type': 'id', 'subtype': 'integer', 'ref': {'table': 'player', 'field': 'player_fifa_api_id'}}, 'player_api_id': {'type': 'id', 'subtype': 'integer', 'ref': {'table': 'player', 'field': 'player_api_id'}}, 'overall_rating': {'type': 'numerical', 'subtype': 'float'}, 'potential': {'type': 'numerical', 'subtype': 'float'}, 'preferred_foot': {'type': 'categorical'}}, 'primary_key': 'id'}}}

In [148]:
#df_train['player_attributes'] = df_train['player_attributes'][['id', 'player_fifa_api_id', 'player_api_id', 'overall_rating', 'potential', 'preferred_foot']]

In [12]:
from sdv.relational import HMA1

model = HMA1(metadata)
model.fit(df_train)

In [13]:
new_data = model.sample()

In [14]:
new_data

{'player':       id  player_api_id            player_name  player_fifa_api_id  \
 0   8997              0          Ricardo Nunes              117032
 1   5296              1       Jonathan Correia              127714
 2   9248              2     Saidi Ntibazonkiza              196939
 3   7622              3  Nicolas Maurice-Belay              187301
 4   2633              4      Dominik Reinhardt              143363
 ..   ...            ...                    ...                 ...
 95  4373             95         James McArthur              105557
 96   467             96       Andrew Barrowman              187511
 97  3397             97          Frazer Wright              237497
 98  6711             98         Leonard Kweuke              226305
 99  7583             99           Ogenyi Onazi              122305

                birthday      height  weight
 0   1990-01-04 00:00:00  187.684687     162
 1   1987-02-26 00:00:00  181.188543     178
 2   1986-01-29 00:00:00  181.471675     170
 3   1985-10-06 00:00:00  176.589123     153
 4   1990-02-01 00:00:00  193.715386     192
 ..                  ...         ...     ...
 95  1978-12-24 00:00:00  191.611805     191
 96  1992-02-11 00:00:00  199.185323     208
 97  1987-05-01 00:00:00  178.417802     161
 98  1994-02-13 00:00:00  179.103636     147
 99  1985-08-05 00:00:00  181.410656     148

 [100 rows x 7 columns],
 'player_attributes':         id  player_fifa_api_id  player_api_id                 date  \
 0        0              129258              0  2015-01-09 00:00:00
 1        1              129258              0  2013-02-15 00:00:00
 2        2              129258              0  2010-08-30 00:00:00
 3        3              129258              0  2013-09-27 00:00:00
 4        4              129258              0  2015-10-23 00:00:00
 ...    ...                 ...            ...                  ...
 1519  1519              127510             99  2013-03-08 00:00:00
 1520  1520              127510             99  2013-05-10 00:00:00
 1521  1521              127510             99  2015-09-21 00:00:00
 1522  1522              127510             99  2010-08-30 00:00:00
 1523  1523              127510             99  2016-01-14 00:00:00

       overall_rating  potential preferred_foot attacking_work_rate  \
 0          61.334462  66.250268          right              medium
 1          63.543853  63.446026          right              medium
 2          62.132915  63.667245          right              medium
 3          62.254340  66.279356          right              medium
 4          60.895913  65.416778          right              medium
 ...              ...        ...            ...                 ...
 1519       71.663870  75.585092          right              medium
 1520       72.811757  75.585092          right              medium
 1521       72.724337  75.585092          right              medium
 1522       74.259778  75.585092          right              medium
 1523       72.160615  75.585092          right              medium

      defensive_work_rate   crossing  ...     vision  penalties    marking  \
 0                    low  25.954567  ...  31.555563  31.301259  24.181671
 1                    low  33.285339  ...  28.617962  31.301259  13.845808
 2                   high  29.243054  ...  23.529876  31.301259  16.547634
 3                    low  35.119634  ...  24.342959  31.301259  13.368918
 4                    low  34.601540  ...  25.512467  31.301259  18.021769
 ...                  ...        ...  ...        ...        ...        ...
 1519              medium  60.353499  ...  71.108399  73.711069  47.602207
 1520              medium  60.929729  ...  65.123551  53.869109  51.205922
 1521              medium  65.606647  ...  61.591571  47.006324  61.445055
 1522              medium  51.663512  ...  66.807806  68.865266  54.263905
 1523                high  57.089068  ...  69.997609  57.325588  57.082716

       standing_tackle  sliding_tackle  gk_diving  gk_handling  gk_kicking  \
 0           25.100007       16.715314  38.802912    36.730236   45.942121
 1           15.404667       13.149648  32.535007    33.097836   27.391886
 2           17.572289       17.847356  37.461978    36.680480   45.038028
 3           17.263080       20.083677  38.446791    31.890862   34.819328
 4           22.835248       17.361456  36.152472    30.512090   39.292471
 ...               ...             ...        ...          ...         ...
 1519        59.505836       54.864659  13.892261     9.368680   -2.558431
 1520        65.646249       58.501543  11.655909     9.368680   -2.558431
 1521        62.404959       59.595258   9.987660     9.368680   -2.558431
 1522        60.833376       55.555918   8.728058     9.368680   -2.558431
 1523        65.625622       60.307051  12.320473     9.368680   -2.558431

       gk_positioning  gk_reflexes
 0          37.603237    40.807124
 1          32.871572    41.766244
 2          22.762725    37.139824
 3          31.811538    36.758417
 4          35.835114    40.953507
 ...              ...          ...
 1519        6.874584    -2.308030
 1520        9.126562    -1.364622
 1521        6.849424    -0.266672
 1522        5.634433    -1.602824
 1523        6.624474    -3.495251

 [1524 rows x 42 columns]}

In [16]:
def sql_identifier(s):
    return '"' + s.replace('"', '""') + '"'

def get_table_order(db):
    '''This method returns the order of tables to be generated. Tables have relations between each other (FK) that needs to be created first in order to generate consistend data. 
    TODO: Remove pk; fk stuff from here. Method already big enough, will get own method to call when needed. '''
    rows = db.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
    tables = [row[0].lower() for row in rows]
    
    if "sqlite_sequence" in tables:
        tables.remove('sqlite_sequence')
    
    fk_relation = {}
    pk_relation = {}
    
    table_order = []
    
    for table in tables:
        rows = db.execute("PRAGMA table_info({})".format(sql_identifier(table)))
        attributes = rows.fetchall()
        
        pk = []
        for attr in attributes:
            if attr[5] == 1:
                pk.append(attr[1])    
        pk_relation[table] = pk
        
        rows = db.execute("PRAGMA foreign_key_list({})".format(sql_identifier(table)))
        foreign_key_list = rows.fetchall()
        fkeys = []
        for fk in foreign_key_list:
            fkeys.append({'table': fk[2].lower(), 'origin': fk[3], 'dest': fk[4]})
        fk_relation[table] = fkeys
        
        if not fkeys:
            table_order.append(table)
        else:
            contained = True
            depends = []
            for fk in fkeys:
                if fk['table'] not in depends:
                    depends.append(fk['table'])
                if fk['table'] not in table_order:
                    contained = False
            if contained:
                #table_order.append((table, depends))
                table_order.append(table)
                
                
    maxLoop = 5
    while len(table_order) <= len(tables):
        for table, fkeys in fk_relation.items():
            if table in table_order:
                continue
                
            contained = True
            depends = []
            for fk in fkeys:
                if fk['table'] not in depends:
                    depends.append(fk['table'])
                if fk['table'] not in table_order:
                    contained = False
            if contained:
                table_order.append(table)  
                
        maxLoop -= 1
        if maxLoop <= 0:
            break
        
    return (table_order, pk_relation, fk_relation)

In [32]:
con = sqlite3.connect('E:\GitHub Repos\TensorFlow training\SoccerDataset\database.sqlite')
table_order, pk_relation, fk_relation = get_table_order(con)

In [33]:
pk_relation

{'player_attributes': ['id'],
 'player': ['id'],
 'match': ['id'],
 'league': ['id'],
 'country': ['id'],
 'team': ['id'],
 'team_attributes': ['id']}

In [34]:
fk_relation

{'player_attributes': [{'table': 'player',
   'origin': 'player_api_id',
   'dest': 'player_api_id'},
  {'table': 'player',
   'origin': 'player_fifa_api_id',
   'dest': 'player_fifa_api_id'}],
 'player': [],
 'match': [{'table': 'player',
   'origin': 'away_player_11',
   'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_10', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_9', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_8', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_7', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_6', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_5', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_4', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_3', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_2', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'away_player_1', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_11', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_10', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_9', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_8', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_7', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_6', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_5', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_4', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_3', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_2', 'dest': 'player_api_id'},
  {'table': 'player', 'origin': 'home_player_1', 'dest': 'player_api_id'},
  {'table': 'team', 'origin': 'away_team_api_id', 'dest': 'team_api_id'},
  {'table': 'team', 'origin': 'home_team_api_id', 'dest': 'team_api_id'},
  {'table': 'league', 'origin': 'league_id', 'dest': 'id'},
  {'table': 'country', 'origin': 'country_id', 'dest': 'id'}],
 'league': [{'table': 'country', 'origin': 'country_id', 'dest': 'id'}],
 'country': [],
 'team': [],
 'team_attributes': [{'table': 'team',
   'origin': 'team_api_id',
   'dest': 'team_api_id'},
  {'table': 'team', 'origin': 'team_fifa_api_id', 'dest': 'team_fifa_api_id'}]}

In [39]:
def get_Metadata(con, tables, pk_relation, fk_relation):
    metadata = Metadata()

    for table in tables:
        df = pd.read_sql_query('SELECT * FROM ' + table + ' LIMIT 5', con)

        metadata.add_table(
            name=table,
            data=df,
            primary_key=pk_relation[table][0] #TODO: Könnte sein, dass es mehr prim keys gibt. Dann schauen.
        )

    return metadata

In [40]:
metadata = get_Metadata(con, table_order, pk_relation, fk_relation)

In [41]:
metadata.to_dict()

{'tables': {'player': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'player_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'player_name': {'type': 'categorical'},
    'player_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'birthday': {'type': 'categorical'},
    'height': {'type': 'numerical', 'subtype': 'float'},
    'weight': {'type': 'numerical', 'subtype': 'integer'}},
   'primary_key': 'id'},
  'country': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'name': {'type': 'categorical'}},
   'primary_key': 'id'},
  'team': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'team_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'team_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'team_long_name': {'type': 'categorical'},
    'team_short_name': {'type': 'categorical'}},
   'primary_key': 'id'},
  'team_attributes': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'team_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'team_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'date': {'type': 'categorical'},
    'buildUpPlaySpeed': {'type': 'numerical', 'subtype': 'integer'},
    'buildUpPlaySpeedClass': {'type': 'categorical'},
    'buildUpPlayDribbling': {'type': 'numerical', 'subtype': 'float'},
    'buildUpPlayDribblingClass': {'type': 'categorical'},
    'buildUpPlayPassing': {'type': 'numerical', 'subtype': 'integer'},
    'buildUpPlayPassingClass': {'type': 'categorical'},
    'buildUpPlayPositioningClass': {'type': 'categorical'},
    'chanceCreationPassing': {'type': 'numerical', 'subtype': 'integer'},
    'chanceCreationPassingClass': {'type': 'categorical'},
    'chanceCreationCrossing': {'type': 'numerical', 'subtype': 'integer'},
    'chanceCreationCrossingClass': {'type': 'categorical'},
    'chanceCreationShooting': {'type': 'numerical', 'subtype': 'integer'},
    'chanceCreationShootingClass': {'type': 'categorical'},
    'chanceCreationPositioningClass': {'type': 'categorical'},
    'defencePressure': {'type': 'numerical', 'subtype': 'integer'},
    'defencePressureClass': {'type': 'categorical'},
    'defenceAggression': {'type': 'numerical', 'subtype': 'integer'},
    'defenceAggressionClass': {'type': 'categorical'},
    'defenceTeamWidth': {'type': 'numerical', 'subtype': 'integer'},
    'defenceTeamWidthClass': {'type': 'categorical'},
    'defenceDefenderLineClass': {'type': 'categorical'}},
   'primary_key': 'id'},
  'player_attributes': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'player_fifa_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'player_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'date': {'type': 'categorical'},
    'overall_rating': {'type': 'numerical', 'subtype': 'integer'},
    'potential': {'type': 'numerical', 'subtype': 'integer'},
    'preferred_foot': {'type': 'categorical'},
    'attacking_work_rate': {'type': 'categorical'},
    'defensive_work_rate': {'type': 'categorical'},
    'crossing': {'type': 'numerical', 'subtype': 'integer'},
    'finishing': {'type': 'numerical', 'subtype': 'integer'},
    'heading_accuracy': {'type': 'numerical', 'subtype': 'integer'},
    'short_passing': {'type': 'numerical', 'subtype': 'integer'},
    'volleys': {'type': 'numerical', 'subtype': 'integer'},
    'dribbling': {'type': 'numerical', 'subtype': 'integer'},
    'curve': {'type': 'numerical', 'subtype': 'integer'},
    'free_kick_accuracy': {'type': 'numerical', 'subtype': 'integer'},
    'long_passing': {'type': 'numerical', 'subtype': 'integer'},
    'ball_control': {'type': 'numerical', 'subtype': 'integer'},
    'acceleration': {'type': 'numerical', 'subtype': 'integer'},
    'sprint_speed': {'type': 'numerical', 'subtype': 'integer'},
    'agility': {'type': 'numerical', 'subtype': 'integer'},
    'reactions': {'type': 'numerical', 'subtype': 'integer'},
    'balance': {'type': 'numerical', 'subtype': 'integer'},
    'shot_power': {'type': 'numerical', 'subtype': 'integer'},
    'jumping': {'type': 'numerical', 'subtype': 'integer'},
    'stamina': {'type': 'numerical', 'subtype': 'integer'},
    'strength': {'type': 'numerical', 'subtype': 'integer'},
    'long_shots': {'type': 'numerical', 'subtype': 'integer'},
    'aggression': {'type': 'numerical', 'subtype': 'integer'},
    'interceptions': {'type': 'numerical', 'subtype': 'integer'},
    'positioning': {'type': 'numerical', 'subtype': 'integer'},
    'vision': {'type': 'numerical', 'subtype': 'integer'},
    'penalties': {'type': 'numerical', 'subtype': 'integer'},
    'marking': {'type': 'numerical', 'subtype': 'integer'},
    'standing_tackle': {'type': 'numerical', 'subtype': 'integer'},
    'sliding_tackle': {'type': 'numerical', 'subtype': 'integer'},
    'gk_diving': {'type': 'numerical', 'subtype': 'integer'},
    'gk_handling': {'type': 'numerical', 'subtype': 'integer'},
    'gk_kicking': {'type': 'numerical', 'subtype': 'integer'},
    'gk_positioning': {'type': 'numerical', 'subtype': 'integer'},
    'gk_reflexes': {'type': 'numerical', 'subtype': 'integer'}},
   'primary_key': 'id'},
  'league': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'country_id': {'type': 'numerical', 'subtype': 'integer'},
    'name': {'type': 'categorical'}},
   'primary_key': 'id'},
  'match': {'fields': {'id': {'type': 'id', 'subtype': 'integer'},
    'country_id': {'type': 'numerical', 'subtype': 'integer'},
    'league_id': {'type': 'numerical', 'subtype': 'integer'},
    'season': {'type': 'categorical'},
    'stage': {'type': 'numerical', 'subtype': 'integer'},
    'date': {'type': 'categorical'},
    'match_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'home_team_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'away_team_api_id': {'type': 'numerical', 'subtype': 'integer'},
    'home_team_goal': {'type': 'numerical', 'subtype': 'integer'},
    'away_team_goal': {'type': 'numerical', 'subtype': 'integer'},
    'home_player_X1': {'type': 'categorical'},
    'home_player_X2': {'type': 'categorical'},
    'home_player_X3': {'type': 'categorical'},
    'home_player_X4': {'type': 'categorical'},
    'home_player_X5': {'type': 'categorical'},
    'home_player_X6': {'type': 'categorical'},
    'home_player_X7': {'type': 'categorical'},
    'home_player_X8': {'type': 'categorical'},
    'home_player_X9': {'type': 'categorical'},
    'home_player_X10': {'type': 'categorical'},
    'home_player_X11': {'type': 'categorical'},
    'away_player_X1': {'type': 'categorical'},
    'away_player_X2': {'type': 'categorical'},
    'away_player_X3': {'type': 'categorical'},
    'away_player_X4': {'type': 'categorical'},
    'away_player_X5': {'type': 'categorical'},
    'away_player_X6': {'type': 'categorical'},
    'away_player_X7': {'type': 'categorical'},
    'away_player_X8': {'type': 'categorical'},
    'away_player_X9': {'type': 'categorical'},
    'away_player_X10': {'type': 'categorical'},
    'away_player_X11': {'type': 'categorical'},
    'home_player_Y1': {'type': 'categorical'},
    'home_player_Y2': {'type': 'categorical'},
    'home_player_Y3': {'type': 'categorical'},
    'home_player_Y4': {'type': 'categorical'},
    'home_player_Y5': {'type': 'categorical'},
    'home_player_Y6': {'type': 'categorical'},
    'home_player_Y7': {'type': 'categorical'},
    'home_player_Y8': {'type': 'categorical'},
    'home_player_Y9': {'type': 'categorical'},
    'home_player_Y10': {'type': 'categorical'},
    'home_player_Y11': {'type': 'categorical'},
    'away_player_Y1': {'type': 'categorical'},
    'away_player_Y2': {'type': 'categorical'},
    'away_player_Y3': {'type': 'categorical'},
    'away_player_Y4': {'type': 'categorical'},
    'away_player_Y5': {'type': 'categorical'},
    'away_player_Y6': {'type': 'categorical'},
    'away_player_Y7': {'type': 'categorical'},
    'away_player_Y8': {'type': 'categorical'},
    'away_player_Y9': {'type': 'categorical'},
    'away_player_Y10': {'type': 'categorical'},
    'away_player_Y11': {'type': 'categorical'},
    'home_player_1': {'type': 'categorical'},
    'home_player_2': {'type': 'categorical'},
    'home_player_3': {'type': 'categorical'},
    'home_player_4': {'type': 'categorical'},
    'home_player_5': {'type': 'categorical'},
    'home_player_6': {'type': 'categorical'},
    'home_player_7': {'type': 'categorical'},
    'home_player_8': {'type': 'categorical'},
    'home_player_9': {'type': 'categorical'},
    'home_player_10': {'type': 'categorical'},
    'home_player_11': {'type': 'categorical'},
    'away_player_1': {'type': 'categorical'},
    'away_player_2': {'type': 'categorical'},
    'away_player_3': {'type': 'categorical'},
    'away_player_4': {'type': 'categorical'},
    'away_player_5': {'type': 'categorical'},
    'away_player_6': {'type': 'categorical'},
    'away_player_7': {'type': 'categorical'},
    'away_player_8': {'type': 'categorical'},
    'away_player_9': {'type': 'categorical'},
    'away_player_10': {'type': 'categorical'},
    'away_player_11': {'type': 'categorical'},
    'goal': {'type': 'categorical'},
    'shoton': {'type': 'categorical'},
    'shotoff': {'type': 'categorical'},
    'foulcommit': {'type': 'categorical'},
    'card': {'type': 'categorical'},
    'cross': {'type': 'categorical'},
    'corner': {'type': 'categorical'},
    'possession': {'type': 'categorical'},
    'B365H': {'type': 'numerical', 'subtype': 'float'},
    'B365D': {'type': 'numerical', 'subtype': 'float'},
    'B365A': {'type': 'numerical', 'subtype': 'float'},
    'BWH': {'type': 'numerical', 'subtype': 'float'},
    'BWD': {'type': 'numerical', 'subtype': 'float'},
    'BWA': {'type': 'numerical', 'subtype': 'float'},
    'IWH': {'type': 'numerical', 'subtype': 'float'},
    'IWD': {'type': 'numerical', 'subtype': 'float'},
    'IWA': {'type': 'numerical', 'subtype': 'float'},
    'LBH': {'type': 'numerical', 'subtype': 'float'},
    'LBD': {'type': 'numerical', 'subtype': 'float'},
    'LBA': {'type': 'numerical', 'subtype': 'float'},
    'PSH': {'type': 'categorical'},
    'PSD': {'type': 'categorical'},
    'PSA': {'type': 'categorical'},
    'WHH': {'type': 'numerical', 'subtype': 'float'},
    'WHD': {'type': 'numerical', 'subtype': 'float'},
    'WHA': {'type': 'numerical', 'subtype': 'float'},
    'SJH': {'type': 'numerical', 'subtype': 'float'},
    'SJD': {'type': 'numerical', 'subtype': 'float'},
    'SJA': {'type': 'numerical', 'subtype': 'float'},
    'VCH': {'type': 'numerical', 'subtype': 'float'},
    'VCD': {'type': 'numerical', 'subtype': 'float'},
    'VCA': {'type': 'numerical', 'subtype': 'float'},
    'GBH': {'type': 'numerical', 'subtype': 'float'},
    'GBD': {'type': 'numerical', 'subtype': 'float'},
    'GBA': {'type': 'numerical', 'subtype': 'float'},
    'BSH': {'type': 'numerical', 'subtype': 'float'},
    'BSD': {'type': 'numerical', 'subtype': 'float'},
    'BSA': {'type': 'numerical', 'subtype': 'float'}},
   'primary_key': 'id'}}}

In [25]:
df = pd.read_sql_query('SELECT * FROM ' + table_order[0], con)

In [43]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [11]:
player_df

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [17]:
metadata.add_table(
    name='player',
    data=player_df,
    primary_key='id'
)

In [22]:
metadata

Metadata
  root_path: .
  tables: ['player']
  relationships:

In [24]:
player_df

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [19]:
from sdv.tabular import GaussianCopula

In [89]:
model = GaussianCopula(primary_key=['id', 'player_fifa_api_id', 'player_api_id'],
                       anonymize_fields= {'player_name': 'name'},
                       field_transformers= {
                           'birthday': 'label_encoding',
                           'height': 'float',
                           'weight': 'integer'
                       })

In [90]:
model.fit(player_df[:100])

E:\ProgramData\Anaconda3\envs\master\lib\site-packages\scipy\stats\_continuous_distns.py:621: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
E:\ProgramData\Anaconda3\envs\master\lib\site-packages\scipy\optimize\minpack.py:175: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
E:\ProgramData\Anaconda3\envs\master\lib\site-packages\scipy\stats\_continuous_distns.py:4965: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
E:\ProgramData\Anaconda3\envs\master\lib\site-packages\scipy\stats\_distn_infrastructure.py:2429: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu

In [60]:
res = model.sample(10000)

In [61]:
res.describe()

,id,player_api_id,player_fifa_api_id,height,weight
count,10000.00000,10000.00000,10000.00000,10000.000000,10000.000000
mean,4999.50000,4999.50000,4999.50000,181.640037,166.558800
std,2886.89568,2886.89568,2886.89568,6.197387,13.475381
min,0.00000,0.00000,0.00000,153.666390,131.000000
25%,2499.75000,2499.75000,2499.75000,177.441458,157.000000
50%,4999.50000,4999.50000,4999.50000,181.604012,165.000000
75%,7499.25000,7499.25000,7499.25000,185.771068,175.000000
max,9999.00000,9999.00000,9999.00000,204.602744,243.000000

In [62]:
player_df.describe()

,id,player_api_id,player_fifa_api_id,height,weight
count,11060.000000,11060.000000,11060.000000,11060.000000,11060.000000
mean,5537.511392,156582.427215,165664.910488,181.867445,168.380289
std,3197.692647,160713.700624,58649.928360,6.369201,14.990217
min,1.000000,2625.000000,2.000000,157.480000,117.000000
25%,2767.750000,35555.500000,151889.500000,177.800000,159.000000
50%,5536.500000,96619.500000,184671.000000,182.880000,168.000000
75%,8306.250000,212470.500000,203883.250000,185.420000,179.000000
max,11075.000000,750584.000000,234141.000000,208.280000,243.000000

In [63]:
res.player_fifa_api_id.value_counts().max()

1

In [92]:
model.get_metadata().to_dict()

{'fields': {'id': {'type': 'id',
   'subtype': 'integer',
   'transformer': 'integer'},
  'player_api_id': {'type': 'id',
   'subtype': 'integer',
   'transformer': 'integer'},
  'player_name': {'type': 'categorical',
   'transformer': 'one_hot_encoding',
   'pii': True,
   'pii_category': 'name'},
  'player_fifa_api_id': {'type': 'id',
   'subtype': 'integer',
   'transformer': 'integer'},
  'birthday': {'type': 'categorical', 'transformer': 'label_encoding'},
  'height': {'type': 'numerical', 'subtype': 'float', 'transformer': 'float'},
  'weight': {'type': 'numerical',
   'subtype': 'integer',
   'transformer': 'integer'}},
 'constraints': [],
 'model_kwargs': {'GaussianCopula': {'field_distributions': {'player_name#0': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#1': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#2': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#3': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#4': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#5': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#6': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#7': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#8': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#9': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#10': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#11': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#12': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#13': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#14': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#15': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#16': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#17': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#18': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#19': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#20': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#21': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#22': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#23': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#24': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#25': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#26': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#27': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#28': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#29': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#30': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#31': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#32': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#33': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#34': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#35': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#36': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#37': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#38': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#39': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#40': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#41': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#42': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#43': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#44': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#45': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#46': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#47': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#48': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#49': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#50': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#51': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#52': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#53': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#54': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#55': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#56': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#57': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#58': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#59': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#60': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#61': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#62': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#63': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#64': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#65': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#66': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#67': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#68': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#69': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#70': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#71': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#72': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#73': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#74': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#75': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#76': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#77': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#78': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#79': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#80': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#81': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#82': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#83': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#84': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#85': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#86': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#87': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#88': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#89': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#90': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#91': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#92': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#93': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#94': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#95': 'copulas.univariate.gaussian.GaussianUnivariate',
    'player_name#96': 'copulas.univariate.gaussian.GaussianUnivariate',
    'birthday': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
    'height': 'copulas.univariate.gaussian.GaussianUnivariate',
    'weight': 'copulas.univariate.gamma.GammaUnivariate'},
   'default_distribution': Univariate,
   'categorical_transformer': 'one_hot_encoding'}},
 'name': None,
 'primary_key': ['id', 'player_fifa_api_id', 'player_api_id'],
 'sequence_index': None,
 'entity_columns': [],
 'context_columns': []}

In [2]:
db = sqlite3.connect('E:/GitHub Repos/TensorFlow training/SoccerDataset/salaries.sqlite')
salaries = pd.read_sql_query('SELECT * FROM salaries', db)

In [3]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,,San Francisco,PT